@import url('https://fonts.googleapis.com/css2?family=Galindo&display=swap');

:root {
    --azul: #000099;
    --amarelo: #efae54;
    --branco: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--azul);
    font-family: "Galindo", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.connect {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: var(--branco);
    border-radius: 10px;
}

.board {
    border-spacing: 5px; /* Espaço entre as células */
    border-collapse: separate; /* Desfaz a fusão das bordas das células */
}

.cell {
    width: 50px;
    height: 50px;
    background-color: var(--azul);
    border-radius: 50%; /* Círculo */
    padding: 0;
    /* Alinhamento das células, evitando espaçamento extra */
    text-align: center;
    vertical-align: middle;
}

.indicator {
    position: relative;
    /* background-color: #efae54; */
    width: 100%;
    height: 5vh;
}

.arrow-indicator {
    position: absolute;
    font-size: 2.2rem;
    color: var(--amarelo);
    top: 0;
    left: 50%; /* Centraliza a seta */
    transform: translateX(-50%);
    transition: left 0.2s;
    pointer-events: none;
}



