@import url('https://fonts.googleapis.com/css2?family=Galindo&display=swap');

/* Cores */
:root {
    --azul: #000099;
    --amarelo: #efae54;
    --verde: #008000;
    --vermelho: #FF6347;
    --branco: #ffffff;
}

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--azul);
    font-family: "Galindo", sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Redimensionando título */
.title {
    color: var(--amarelo);
    font-size: 4rem; /* Reduzido para 4rem para melhor visualização */
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 15px; /* Ajuste para o espaçamento */
}

.word {
    margin-right: 15px; /* Ajuste o valor para a distância desejada */
}

.word:last-of-type {
    margin-right: 0;
}

/* Animação de texto */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.title span {
    display: inline-block;
    animation: bounce 0.6s ease-in-out infinite;
}

.title span:nth-child(1) { animation-delay: 0s; }
.title span:nth-child(2) { animation-delay: 0.1s; }
.title span:nth-child(3) { animation-delay: 0.2s; }

/* Animação das bolinhas */
@keyframes dropBounce {
    0% {
        transform: translateY(-300px); /* Começa fora da tela */
    }
    70% {
        transform: translateY(0); /* Posição final */
    }
    85% {
        transform: translateY(-20px); /* Pequeno salto */
    }
    100% {
        transform: translateY(0);
    }
}

.ball-green, .ball-red {
    width: 100px; /* Redimensionado para melhor visualização */
    height: 100px;
    border-radius: 100px;
    border: 5px solid var(--branco);
    animation: dropBounce 1s ease-out infinite; /* Animação infinita */
}

.ball-green {
    background-color: var(--verde);
    margin-left: 30px;
    margin-right: 10px;
    animation-delay: 0s; /* Início imediato */
}

.ball-red {
    background-color: var(--vermelho);
    animation-delay: 0.5s; /* Atraso para criar o efeito */
}

.button-play {
    margin-top: 20px;
    padding: 15px;
    background-color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem; /* Ajustado para melhor leitura */
    color: var(--azul);
    text-decoration: none;
    border-radius: 30px;  
    transition: transform 0.3s ease;
}

.button-play:hover {
    transform: scale(1.1);
}

/* Opções de Algoritmo e Dificuldade */
.options {
    margin: 20px 25px;
    text-align: center;
    color: var(--branco);
    font-size: 1.8rem;
}

.options label {
    display: block;
    margin-top: 10px;
}

.options select {
    margin: 5px;
    padding: 10px;
    font-size: 1.2rem; /* Ajustado */
    border-radius: 10px;
    border: 2px solid var(--branco);
    background-color: var(--azul);
    color: var(--branco);
    transition: background-color 0.3s ease;
}

/* Estilos para o campo de nome do usuário */
.user-input {
    margin-top: 20px;
    text-align: center;
    color: var(--branco);
    font-size: 2rem;
}

.user-input label {
    display: block;
    margin-bottom: 10px;
}

#username {
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 2px solid var(--branco);
    background-color: var(--azul);
    color: var(--branco);
    transition: background-color 0.3s ease;
    text-align: center;
}

#username::placeholder {
    color: var(--branco);
    opacity: 0.7;
}

/* Ajuste para hover */
#username:hover, .options select:hover {
    background-color: var(--azul);
}
